<head>
    <title>
        <%= locals.title || "ROBLOX: A FREE Virtual World-Building Game with Avatar Chat, 3D Environments, and Physics" %>
    </title>
    <link rel="stylesheet" type="text/css"
        href="/AllCSS.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="ROBLOX Corporation">
    <meta name="description"
        content="ROBLOX is SAFE for kids! ROBLOX is a FREE casual virtual world with fully constructible/desctructible 3D environments and immersive physics. Build, battle, chat, or just hang out.">
    <meta name="keywords"
        content="game, video game, building game, construction game, online game, LEGO game, LEGO, MMO, MMORPG, rowblocks, rowbloks, roblocks, robloks, roblocs, roblok">
    
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/2008blox.js"></script>
</head>