<div id="Header">
    <div id="Banner">



        <div id="Options">
            <div id="Authentication">
                <span><a id="ctl00_BannerOptionsLoginView_BannerOptions_Anonymous_LoginHyperLink"
                        href="https://finobe.com">Login</a></span>
            </div>
            <div id="Settings"></div>
        </div>

        <div id="Logo">
            <a id="ctl00_rbxImage_Logo" title="ROBLOX" href="/"
                style="display:inline-block;cursor:pointer;"><img
                    src="/roblox_logo.png"  alt="ROBLOX"></a>
        </div>



        <div id="Alerts">
            <table style="width:100%;height:100%">
                <tbody>
                    <tr>
                        <td valign="middle"><a
                                id="ctl00_BannerAlertsLoginView_BannerAlerts_Anonymous_rbxAlerts_SignupAndPlayHyperLink"
                                class="SignUpAndPlay" text="Sign-up and Play!"
                                href="https://finobe.com"
                                style="display:inline-block;cursor:pointer;"><img
                                    src="/BannerPlay.png" ></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="Navigation">
        <span><a id="ctl00_Menu_hlMyRoblox" class="MenuItem" href="User.aspx">My ROBLOX</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlGames" class="MenuItem" href="Games.aspx">Games</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlCatalog" class="MenuItem" href="Catalog.aspx">Catalog</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlBrowse" class="MenuItem" href="Browse.aspx">People</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlBuildersClub" class="MenuItem" href="Upgrades/BuildersClub.aspx">Builders
                Club</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlForum" class="MenuItem" href="Forum/Default.aspx">Forum</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlNews" class="MenuItem"
                href="http://blog.roblox.com/"
                target="_blank">News</a>&nbsp;<a id="ctl00_Menu_hlNewsFeed"
                href="http://blog.roblox.com/?feed=rss"><img
                    src="/feed-icon.png" alt="RSS"
                    ></a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlParents" class="MenuItem" href="Parents.aspx">Parents</a></span>
        <span class="Separator">&nbsp;|&nbsp;</span>
        <span><a id="ctl00_Menu_hlHelp" class="MenuItem"
                href="http://wiki.roblox.com/"
                target="_blank">Help</a></span>
    </div>
</div>