<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<head>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/AllCSS.css">
</head>

<body>
    <script>
        localStorage.clear(); // Clear legacy cache
        
        // https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB
        window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || 
        window.msIndexedDB;
        
        window.IDBTransaction = window.IDBTransaction || window.webkitIDBTransaction || 
        window.msIDBTransaction;
        window.IDBKeyRange = window.IDBKeyRange || 
        window.webkitIDBKeyRange || window.msIDBKeyRange
        
        if (!window.indexedDB) {
            window.alert("Your browser doesn't support a stable version of IndexedDB. Forums will be kinda messed up and limited.")
            throw new Error();
        }

        let req = window.indexedDB.open("forum", 2);

        req.onupgradeneeded = function(event) { 
            let db = event.target.result;
            let users = db.createObjectStore("forum", { keyPath: "id" });
            users.createIndex("id", "id", { unique: true });
            users.transaction.oncomplete = function(event) {
                fetch("/cache.json")
                .then(response => response.json()) 
                .then(dataStr => {
                    var forum = db.transaction(["forum"], "readwrite");
                    var objstore = forum.objectStore("forum");
                    var errored = false;

                    forum.oncomplete = function(event) {
                        console.log("Successfully cached!")
                    }

                    console.log("Caching " + dataStr.length + " forum users..")
                    dataStr.forEach(forumuser => {
                        objstore.add({id: forumuser[0], name: forumuser[1], created: forumuser[2]}).onerror = function(event) {
                            if (!errored) {
                                errored = true;
                                alert("An error occurred while caching forums! Please tell bloxxite about this.");
                                console.log(event, forumuser);
                            }
                        }
                    })
                }).catch(err => {
                    alert("Error occurred while requesting forum cache! Please notify bloxxite about this.")
                    throw err;
                });
            }
        }
        
    </script>


    <div id="Container">
        <form method="post" action="/Accept.aspx">
            <div id="Body">

                <div id="ItemContainer">
                    <div id="Item">
                        <div id="DisclaimerContainer">
                            <h1 id="DisclaimerTitle">Hold Up!</h1>
                            <h2 id="Disclaimer"> Before you continue onto this website, do you understand that 2008blox
                                is
                                not affiliated with Roblox in any way, and this is just a (fixed) snapshot/archive of
                                Roblox in
                                2008?</h2>
                            <div id="DisclaimerAcceptance">
                                <div style="display: inline">
                                    <input type="submit" name="yes" value="Yo thats cool with me!" class="Button">
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div style="display: inline">
                                    <input type="submit" name="no" value="Man, I can't handle the legal stuff!"
                                        class="Button">
                                </div>
                            </div>
                            <div id="DisclaimerAcceptance">
                                <div style="display: inline">
                                    <a href="https://discord.gg/63wDvud">
                                        <img src="/discord.png" width="40">
                                    </a>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div style="display: inline">
                                    <a href="https://github.com/2008blox">
                                        <img src="/github.png" width="43" height="43">
                                    </a>
                                </div>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <!-- i'm really sorry for this, can someone fix this? -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>