<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<head>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/AllCSS.css">
</head>

<body>
    <script>
        fetch("/names.json")
            .then(response => response.text()) 
            .then(dataStr => {
                localStorage.setItem("names_cache", dataStr)
            });

        fetch("/created.json")
            .then(response => response.text()) 
            .then(dataStr => {
                localStorage.setItem("created_cache", dataStr)
            });
    </script>


    <div id="Container">
        <form method="post" action="/Accept.aspx">
            <div id="Body">

                <div id="ItemContainer">
                    <div id="Item">
                        <div id="DisclaimerContainer">
                            <h1 id="DisclaimerTitle">Hold Up!</h1>
                            <h2 id="Disclaimer"> Before you continue onto this website, do you understand that 2008blox
                                is
                                not affiliated with Roblox in any way, and this is just a (fixed) snapshot/archive of
                                Roblox in
                                2008?</h2>
                            <div id="DisclaimerAcceptance">
                                <div style="display: inline">
                                    <input type="submit" name="yes" value="Yo thats cool with me!" class="Button">
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div style="display: inline">
                                    <input type="submit" name="no" value="Man, I can't handle the legal stuff!"
                                        class="Button">
                                </div>
                            </div>
                            <div id="DisclaimerAcceptance">
                                <div style="display: inline">
                                    <a href="https://discord.gg/63wDvud">
                                        <img src="/discord.png" width="40">
                                    </a>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div style="display: inline">
                                    <a href="https://github.com/2008blox">
                                        <img src="/github.png" width="43" height="43">
                                    </a>
                                </div>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <!-- i'm really sorry for this, can someone fix this? -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>