<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    

        <div id="Container">

            <%- include(partials + '/header') -%>
            
            
            <div id="Body">


                <div id="SplashContainer">
                    <div id="SignInPane">

                        <div id="LoginViewContainer">

                            <div id="LoginView">
                                <h5>Member Login</h5>

                                <div class="AspNet-Login">
                                    <div class="AspNet-Login">
                                        <div class="AspNet-Login-UserPanel">
                                            <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserNameLabel"
                                                class="Label">Character Name</label>
                                            <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$UserName"
                                                type="text"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName"
                                                tabindex="1" class="Text" nativecolor="" nativeopacity=""
                                                style="opacity: 1; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                        </div>
                                        <div class="AspNet-Login-PasswordPanel">
                                            <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_PasswordLabel"
                                                class="Label">Password</label>
                                            <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$Password"
                                                type="password"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password"
                                                tabindex="2" class="Text" nativecolor="" nativeopacity="">
                                        </div>
                                        <!--div class="AspNet-Login-RememberMePanel"-->

                                        <!--/div-->
                                        <div class="AspNet-Login-SubmitPanel">
                                            <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Login" tabindex="4"
                                                class="Button"
                                                href="https://goodblox.xyz">Login</a>
                                        </div>



                                        <div class="AspNet-Login-PasswordRecoveryPanel">
                                            <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_hlPasswordRecovery"
                                                tabindex="6" href="https://goodblox.xyz">Forgot your
                                                password?</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <br>

                        <div id="Figure">
                            <a id="ctl00_cphRoblox_LoginView1_ImageFigure" disabled="disabled" title="Figure"
                                onclick="return false" style="display:inline-block;"><img
                                    src="/images/NewFrontPageGuy.png"
                                     alt="Figure" ></a>
                        </div>

                    </div>



                    <div id="RobloxAtAGlance">
                        <h2>ROBLOX Virtual Playworld</h2>
                        <h3>ROBLOX is Free!</h3>
                        <ul id="ThingsToDo">
                            <li id="Point1">
                                <h3>Build your personal Place</h3>
                                <div>Create buildings, vehicles, scenery, and traps with thousands of virtual bricks.
                                </div>
                            </li>
                            <li id="Point2">
                                <h3>Meet new friends online</h3>
                                <div>Visit your friend's place, chat in 3D, and build together.</div>
                            </li>
                            <li id="Point3">
                                <h3>Battle in the Brick Arenas</h3>
                                <div>Play with the slingshot, rocket, or other brick battle tools. Be careful not to get
                                    "bloxxed".</div>
                            </li>
                        </ul>
                        <div id="Showcase">
                            <a href="#" onclick="$(this).children().get(0).play();$(this).children().attr('controls',true);$(this).removeAttr('href');$(this).removeAttr('onclick')">
                                <video width="400" height="326" frame controlslist="nodownload" poster="/resources/Showcase.png" preload="none" disablepictureinpicture="">
                                    <source src="resources/PlayTrailer.mp4" type="video/mp4">
                                </video>
                            </a>
                        </div>
                        <div id="Install">
                            <div id="CompatibilityNote">Works with your<br>Windows PC!</div>
                            <div id="DownloadAndPlay"><a
                                    id="ctl00_cphRoblox_RobloxAtAGlanceLoginView_RobloxAtAGlance_Anonymous_hlDownloadAndPlay"
                                    href="https://goodblox.xyz"><img
                                        src="/images/PlayNowGreenFader.gif"
                                        alt="FREE - Download and Play!" ></a></div>
                        </div>
                        <div id="ForParents">
                            <a id="ctl00_cphRoblox_RobloxAtAGlanceLoginView_RobloxAtAGlance_Anonymous_hlKidSafe"
                                title="ROBLOX is kid-safe!" href="Parents.aspx" style="display:inline-block;"><img
                                    title="ROBLOX is kid-safe!"
                                    src="/images/COPPASeal.jpg"
                                    ></a>
                        </div>
                    </div>
                </div>
                <div id="CoolPlaces">
                    <img src="/images/CoolPlaces.png" id="CoolImage">
                    <div id="CoolContent"></div>
                </div>
            </div>

            <%- include(partials + '/footer') -%>
</body>

</html>