<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css"
        href="/forum.css">

    

        <div id="Container">

            <%- include(partials + '/header') -%>





            <div id="Body">

                <table width="100%" cellspacing="0" cellpadding="0" >
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr valign="bottom">
                            <td>
                                <table width="100%" height="100%" cellspacing="0" cellpadding="0" >
                                    <tbody>
                                        <tr >
                                            <!-- left column -->
                                            <td>&nbsp; &nbsp; &nbsp;</td>
                                            <!-- center column -->
                                            <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                                &nbsp;
                                                <br>
                                                <span id="ctl00_cphRoblox_Navigationmenu1">
                                                    <table width="100%" cellspacing="1" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td  >
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_HomeMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_home.gif"
                                                                            >Home &nbsp;</a>
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_SearchMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Search/default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_search.gif"
                                                                            >Search &nbsp;</a>


                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_RegisterMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/User/CreateUser.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_register.gif"
                                                                            >Register &nbsp;</a>




                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                                <p>
                                                    <span id="ctl00_cphRoblox_Userinfo1" name="Userinfo1">

                                                    </span></p>
                                                <table cellspacing="1" cellpadding="0" width="100%" class="tableBorder">
                                                    <tbody>
                                                        <tr>
                                                            <th height="25" class="tableHeaderText" 
                                                                colspan="2">
                                                                &nbsp; Viewing User Profile for:
                                                                <span
                                                                    id="ctl00_cphRoblox_Userinfo1_ctl00_Username">brick508</span>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" class="forumHeaderBackgroundAlternate">
                                                                <span class="forumTitle">
                                                                    &nbsp;About
                                                                </span>
                                                            </td>
                                                            <td class="forumHeaderBackgroundAlternate">
                                                                <span class="forumTitle">
                                                                    &nbsp;Contact
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td   class="forumRow" width="50%">
                                                                <table cellpadding="4">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Joined:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_Joined">03-18-2008
                                                                                        04:15 PM</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Last Login:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_LastLogin">03-18-2008
                                                                                        04:15 PM</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Website:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <a id="ctl00_cphRoblox_Userinfo1_ctl00_WebSite"
                                                                                        target="_blank"></a>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Location:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_Location">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Occupation:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_Occupation">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Interests:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_Interests">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Signature:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_Signature"></span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td  class="forumRow" width="50%">
                                                                <table cellpadding="4">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Email:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <a id="ctl00_cphRoblox_Userinfo1_ctl00_Email"
                                                                                        target="_blank">Unavailable to
                                                                                        anonymous users.</a>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    MSN IM:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_MsnIm">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    AIM:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_AolIm">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Yahoo IM:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_YahooIm">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    ICQ:
                                                                                </span>
                                                                            </td>
                                                                            <td  >
                                                                                <span class="normalTextSmall">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_ICQ">Unavailable
                                                                                        to anonymous users.</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" class="forumHeaderBackgroundAlternate"
                                                                colspan="2">
                                                                <span class="forumTitle">
                                                                    &nbsp;Post Statistics
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forumRow"  colspan="2">
                                                                <table width="100%" cellpadding="4">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    <span
                                                                                        id="ctl00_cphRoblox_Userinfo1_ctl00_PostStats">brick508
                                                                                        has contributed to 160 out of
                                                                                        1,803,026 total posts (0.01% of
                                                                                        total).</span>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td  >
                                                                                <span class="normalTextSmallBold">
                                                                                    Most Recent Posts:
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td   colspan="2">
                                                                                <table
                                                                                    id="ctl00_cphRoblox_Userinfo1_ctl00_PostList"
                                                                                    cellspacing="1" cellpadding="3"
                                                                                     width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083688">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:07:40
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    2)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <span
                                                                                                                    class="normalTextSmall">granted
                                                                                                                    but
                                                                                                                    u
                                                                                                                    turn
                                                                                                                    into
                                                                                                                    un
                                                                                                                    ugly
                                                                                                                    fish</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083700">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:08:25
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    1)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td><span
                                                                                                                    class="normalTextSmall">i
                                                                                                                    wish
                                                                                                                    i
                                                                                                                    get
                                                                                                                    a
                                                                                                                    famous
                                                                                                                    place</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083901">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:24:29
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    0)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <span
                                                                                                                    class="normalTextSmall">u
                                                                                                                    will
                                                                                                                    but
                                                                                                                    it
                                                                                                                    will
                                                                                                                    be
                                                                                                                    in
                                                                                                                    the
                                                                                                                    streets
                                                                                                                    of
                                                                                                                    new
                                                                                                                    york
                                                                                                                    city
                                                                                                                    (trust
                                                                                                                    me u
                                                                                                                    dont
                                                                                                                    wanna
                                                                                                                    do
                                                                                                                    that)

                                                                                                                    i
                                                                                                                    wish
                                                                                                                    roblox
                                                                                                                    had
                                                                                                                    a
                                                                                                                    glitch
                                                                                                                    that
                                                                                                                    got
                                                                                                                    me
                                                                                                                    100000
                                                                                                                    tix</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083921">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:26:20
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    1)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td><span
                                                                                                                    class="normalTextSmall">granted
                                                                                                                    but
                                                                                                                    the
                                                                                                                    bad
                                                                                                                    went
                                                                                                                    into
                                                                                                                    ur
                                                                                                                    life

                                                                                                                    i
                                                                                                                    wish
                                                                                                                    i
                                                                                                                    had
                                                                                                                    all
                                                                                                                    gaming
                                                                                                                    systems</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083950">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:28:52
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    2)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <span
                                                                                                                    class="normalTextSmall">granted
                                                                                                                    but
                                                                                                                    u
                                                                                                                    lost
                                                                                                                    ur
                                                                                                                    only
                                                                                                                    wish

                                                                                                                    i
                                                                                                                    wish
                                                                                                                    u i
                                                                                                                    had
                                                                                                                    a
                                                                                                                    puffer
                                                                                                                    fish</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2083990">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:31:24
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    1)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td><span
                                                                                                                    class="normalTextSmall">granted
                                                                                                                    but
                                                                                                                    it
                                                                                                                    ate
                                                                                                                    u

                                                                                                                    i
                                                                                                                    wish
                                                                                                                    i
                                                                                                                    knew
                                                                                                                    wat
                                                                                                                    to
                                                                                                                    wish
                                                                                                                    4</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2084015">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:33:26
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    2)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <span
                                                                                                                    class="normalTextSmall">granted
                                                                                                                    but
                                                                                                                    its
                                                                                                                    ugly
                                                                                                                    and
                                                                                                                    sick</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=266590#2084028">Re:
                                                                                                                    Corrupt
                                                                                                                    a
                                                                                                                    wish!(Game)</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:34:31
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    1)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td><span
                                                                                                                    class="normalTextSmall">i
                                                                                                                    wish
                                                                                                                    i
                                                                                                                    had
                                                                                                                    a
                                                                                                                    duck</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=51283#1127533">Re:
                                                                                                                    Throw
                                                                                                                    something
                                                                                                                    at
                                                                                                                    the
                                                                                                                    next
                                                                                                                    poster!</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>5/27/2008
                                                                                                                        6:46:10
                                                                                                                        PM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    0)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                class="forumAlternate">
                                                                                                                <span
                                                                                                                    class="normalTextSmall">throws.....uhhhhhhhh....ummmmmmmmmm*drools*
                                                                                                                    duhhhhhhh......*sleeps*</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <hr size="1">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <a class="linkSmallBold"
                                                                                                                    href="/Forum/ShowPost.aspx?PostID=801146#2084103">Re:
                                                                                                                    [Game]
                                                                                                                    Fuse
                                                                                                                    your
                                                                                                                    name
                                                                                                                    with
                                                                                                                    the
                                                                                                                    person
                                                                                                                    above
                                                                                                                    you
                                                                                                                    &gt;:D</a>
                                                                                                                <span
                                                                                                                    class="normalTextSmall"><i>7/31/2008
                                                                                                                        9:40:20
                                                                                                                        AM</i></span>
                                                                                                                &nbsp;
                                                                                                                <span
                                                                                                                    class="normalTextSmall">(Total
                                                                                                                    replies:
                                                                                                                    1)</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td><span
                                                                                                                    class="normalTextSmall">brickofawesomness

                                                                                                                    hey
                                                                                                                    i
                                                                                                                    like
                                                                                                                    the
                                                                                                                    sound
                                                                                                                    of
                                                                                                                    that</span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>

                                                                                <p>
                                                                                    <a id="ctl00_cphRoblox_Userinfo1_ctl00_MorePosts"
                                                                                        class="linkSmallBold"
                                                                                        href="/Forum/Search/default.aspx?SearchFor=1&amp;SearchText=brick508">Search
                                                                                        for more...</a>
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <p>

                                                </p>
                                                <p></p>
                                            </td>

                                            <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                            <!-- right margin -->
                                            <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <%- include(partials + '/footer') -%>
</body>

</html>