<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">
<head>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css"
        href="/AllCSS.css">
</head>
<body>
    <!-- BEGIN WAYBACK TOOLBAR INSERT -->

    <form name="aspnetForm" method="post" action="Accept.aspx" id="aspnetForm">

        <div id="Container">

            <div id="Body">

                <div id="ItemContainer">
                    <div id="Item">
                        <div id="DisclaimerContainer">
                            <h1 id="DisclaimerTitle">Hold Up!</h1>
                            <h2 id="Disclaimer"> Before you continue onto this website, do you understand that 2008blox is
                                not affiliated with Roblox in any way, and this is just a snapshot/archive of Roblox in
                                2008?</h2>
                                <div id="DisclaimerAcceptance">
                                    <div id="ctl00_cphRoblox_VisitButtons_VisitMPButton" style="display: inline">
                                        <input type="submit" name="yes" value="Yo thats cool with me!"  class="Button">
                                    </div>
                                    <div id="ctl00_cphRoblox_VisitButtons_VisitButton" style="display: inline">
                                        &nbsp;&nbsp;&nbsp;
                                        <input type="submit" name="no" value="Man i can't handle the legal stuff!" class="Button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>