<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<head>

    <title>
        ROBLOX: A FREE Virtual World-Building Game with Avatar Chat, 3D Environments,
        and Physics
    </title>
    <link id="ctl00_Imports" rel="stylesheet" type="text/css"
        href="/AllCSS.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="ROBLOX Corporation">
    <meta name="description"
        content="ROBLOX is SAFE for kids! ROBLOX is a FREE casual virtual world with fully constructible/desctructible 3D environments and immersive physics. Build, battle, chat, or just hang out.">
    <meta name="keywords"
        content="game, video game, building game, construction game, online game, LEGO game, LEGO, MMO, MMORPG, rowblocks, rowbloks, roblocks, robloks, roblocs, roblok">

</head>

<body>
   
    <form name="aspnetForm" method="post" action="Default.aspx" id="aspnetForm">

        <div id="Container">

            <%- include partials/header -%>
            
            
            <div id="Body">


                <div id="SplashContainer">
                    <div id="SignInPane">

                        <div id="LoginViewContainer">

                            <div id="LoginView">
                                <h5>Member Login</h5>

                                <div class="AspNet-Login">
                                    <div class="AspNet-Login">
                                        <div class="AspNet-Login-UserPanel">
                                            <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserNameLabel"
                                                class="Label">Character Name</label>
                                            <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$UserName"
                                                type="text"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_UserName"
                                                tabindex="1" class="Text" nativecolor="" nativeopacity=""
                                                style="opacity: 1; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                        </div>
                                        <div class="AspNet-Login-PasswordPanel">
                                            <label for="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_PasswordLabel"
                                                class="Label">Password</label>
                                            <input name="ctl00$cphRoblox$rbxLoginView$lvLoginView$lSignIn$Password"
                                                type="password"
                                                id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Password"
                                                tabindex="2" class="Text" nativecolor="" nativeopacity="">
                                        </div>
                                        <!--div class="AspNet-Login-RememberMePanel"-->

                                        <!--/div-->
                                        <div class="AspNet-Login-SubmitPanel">
                                            <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_Login" tabindex="4"
                                                class="Button"
                                                href="https://finobe.com">Login</a>
                                        </div>



                                        <div class="AspNet-Login-PasswordRecoveryPanel">
                                            <a id="ctl00_cphRoblox_rbxLoginView_lvLoginView_lSignIn_hlPasswordRecovery"
                                                tabindex="6" href="https://finobe.com">Forgot your
                                                password?</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <br>

                        <div id="Figure">
                            <a id="ctl00_cphRoblox_LoginView1_ImageFigure" disabled="disabled" title="Figure"
                                onclick="return false" style="display:inline-block;"><img
                                    src="/NewFrontPageGuy.png"
                                    border="0" alt="Figure" blankurl="http://t1.roblox.com:80/blank-115x130.gif"></a>
                        </div>

                    </div>



                    <div id="RobloxAtAGlance">
                        <h2>ROBLOX Virtual Playworld</h2>
                        <h3>ROBLOX is Free!</h3>
                        <ul id="ThingsToDo">
                            <li id="Point1">
                                <h3>Build your personal Place</h3>
                                <div>Create buildings, vehicles, scenery, and traps with thousands of virtual bricks.
                                </div>
                            </li>
                            <li id="Point2">
                                <h3>Meet new friends online</h3>
                                <div>Visit your friend's place, chat in 3D, and build together.</div>
                            </li>
                            <li id="Point3">
                                <h3>Battle in the Brick Arenas</h3>
                                <div>Play with the slingshot, rocket, or other brick battle tools. Be careful not to get
                                    "bloxxed".</div>
                            </li>
                        </ul>
                        <div id="Showcase">
                            <iframe width="400" height="326" src="https://www.youtube.com/embed/oDVAjvNeGA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                        </div>
                        <div id="Install">
                            <div id="CompatibilityNote">Works with your<br>Windows PC!</div>
                            <div id="DownloadAndPlay"><a
                                    id="ctl00_cphRoblox_RobloxAtAGlanceLoginView_RobloxAtAGlance_Anonymous_hlDownloadAndPlay"
                                    href="https://finobe.com"><img
                                        src="/DownloadAndPlay.png"
                                        alt="FREE - Download and Play!" border="0"></a></div>
                        </div>
                        <div id="ForParents">
                            <a id="ctl00_cphRoblox_RobloxAtAGlanceLoginView_RobloxAtAGlance_Anonymous_hlKidSafe"
                                title="ROBLOX is kid-safe!" href="Parents.aspx" style="display:inline-block;"><img
                                    title="ROBLOX is kid-safe!"
                                    src="/COPPASeal.jpg"
                                    border="0"></a>
                        </div>
                    </div>
                </div>
                <div id="CoolPlaces">
                    <img src="/CoolPlaces.png" id="CoolImage">
                    <div id="CoolContent"></div>
                </div>
            </div>

            <%- include partials/footer -%>
    </form>


    <!--
         FILE ARCHIVED ON 06:18:16 Aug 24, 2008 AND RETRIEVED FROM THE
         INTERNET ARCHIVE ON 01:56:02 Nov 23, 2019.
         JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
    
         ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
         SECTION 108(a)(3)).
    -->
    <!--
    playback timings (ms):
      captures_list: 561.714
      exclusion.robots: 0.267
      load_resource: 96.628
      RedisCDXSource: 4.264
      PetaboxLoader3.datanode: 101.448 (4)
      esindex: 0.011
      exclusion.robots.policy: 0.25
      LoadShardBlock: 135.273 (3)
      PetaboxLoader3.resolve: 60.339
      CDXLines.iter: 65.954 (3)
    -->
</body>

</html>