
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include('../partials/head') %>

<body>
    <form name="aspnetForm" method="post" action="Default.aspx" id="aspnetForm">

        <div id="Container">

            <%- include('../partials/header') -%>
            
            
            <div id="Body">


                <div class="ParentsContainer">
                    <a name="top"></a>
                    <div id="BreadcrumbsContainer">
                        <a id="ctl00_cphRoblox_BreadcrumbsHyperLink" href="/Parents.aspx">ROBLOX Parents</a> &gt; Builders Club
                    </div>
                    <a id="ctl00_cphRoblox_PageImage" class="PageImage" onclick="javascript:__doPostBack('ctl00$cphRoblox$PageImage','')" style="display:inline-block;cursor:pointer;"><img src="/images/Parents/BuildersClub.png"></a>
                    <h2>Builders Club</h2>
                    <div class="Navigation">
                        <ul>
                            <li><a href="#AboutBuildersClub">About Builders Club</a></li>
                            <li><a href="#PaymentMethods">Which payment methods do you accept?</a></li>
                            <li><a href="#TransactionSecurity">Will my payment information be secure?</a></li>
                            <li><a href="#RefundPolicy">What is your refund policy?</a></li>
                            <li><a href="#AcceptedCurrencies">What currencies do you accept?</a></li>
                            <li><a href="#FamilyPlans">Does ROBLOX offer family plans?</a></li>
                            <li><a href="#MembershipTimeliness">How soon does membership take effect?</a></li>
                            <li><a href="#MembershipRenewals">Will my membership automatically renew?</a></li>
                            <li><a href="#MembershipExpiration">What happens when my membership expires?</a></li>
                            <li><a href="#MembershipTransfers">Can I transfer my Builders Club membership to a different ROBLOX account?</a></li>
                            <li><a href="#TOSViolations">What is the ROBLOX policy regarding terms of service violations?</a></li>
                            <li><a href="#MembershipCancellation">How do I cancel my membership?</a></li>
                        </ul>
                    </div>
                    <dl>
                        <dt><a name="AboutBuildersClub">About Builders Club</a></dt>
                        <dd>
                            <p>Builders Club is a premium service that enhances the ROBLOX experience.</p>
                            <p>Builders Club memberships give kids the ability to create and manage multiple structures and environments (up to 10).  Builders Club members also gain the ability to earn ROBLOX currency — called "ROBUX" — which can be used to purchase premium items in the ROBLOX catalog.  These items enable much greater (i.e. much cooler!) customization of users' avatars and their interactive creations.</p>
                            <p>In addition, Builders Club members gain the ability to promote their creations in the ROBLOX catalog and sell them to other members using the virtual ROBLOX economy.</p>
                            <p>Finally, unlike free account holders, Builders Club members will no longer be exposed to, or distracted by, on screen advertisements.</p>
                            <p>For parents who are interested in learning more about subscription options or in purchasing a Builders Club membership for their child, click on the membership button on the home page or <a id="ctl00_cphRoblox_BCSignUpHyperLink" href="/Upgrades/BuildersClub.aspx">start the sign-up process</a> now.</p>
                        </dd>
                        <dt><a name="PaymentMethods">Which payment methods do you accept?</a></dt>
                        <dd>
                            <p>At this time ROBLOX accepts payment via all major credit cards.  We will be expanding our selection of payment methods in the coming months.  Please do not mail cash to ROBLOX headquarters.</p>
                        </dd>
                        <dt><a name="TransactionSecurity">Will my payment information be secure?</a></dt>
                        <dd>
                            <p>All transactions on ROBLOX use secure commercial-grade encryption.  Furthermore, information relating to your payment (such as your credit card number) never resides on our servers.  All of our online transactions are processed by PayPal, a trusted name in internet commerce.</p>
                        </dd>
                        <dt><a name="RefundPolicy">What is your refund policy?</a></dt>
                        <dd>
                            <p>Memberships are non-refundable.</p>
                        </dd>
                        <dt><a name="AcceptedCurrencies">What currencies do you accept?</a></dt>
                        <dd>
                            <p>All prices are in US dollars.  However, most online payment methods will convert currencies at the current bank rate.  Check with your credit card company or banking institution.</p>
                        </dd>
                        <dt><a name="FamilyPlans">Does ROBLOX Offer Family Plans?</a></dt>
                        <dd>
                            <p>We do not offer family plans at this time.</p>
                        </dd>
                        <dt><a name="MembershipTimeliness">How soon does membership take effect?</a></dt>
                        <dd>
                            <p>Memberships will be activated as soon as payment is received.  How quickly this occurs depends upon the method of payment.</p>
                            <blockquote>
                                <strong>Credit Card:</strong> Your membership will be activated instantly.<br>
                                <strong>PayPal:</strong> If your PayPal account charges directly to a credit card, your membership will usually be activated within one day.  If your PayPal account charges to a bank account (eCheck), up to 10 days may be required to receive payment.
                            </blockquote>
                        </dd>
                        <dt><a name="MembershipRenewals">Will my membership automatically renew?</a></dt>
                        <dd>
                            <p>Only monthly subscriptions paid via credit card will autorenew, in order to ensure continuous, uninterrupted service.  All other subscriptions need to be manually renewed from the Builders Club page.</p>
                        </dd>
                        <dt><a name="MembershipExpiration">What happens when my membership expires?</a></dt>
                        <dd>
                            <p>You do not lose anything when your membership expires.  Your account loses Builders Club status, but will remain active.  You will keep all existing places that you own and all assets (including your current ROBUX and Tickets balance).  You will lose all other abilities associated with being in Builders Club.  Accounts can be re-subscribed at any time.</p>
                        </dd>
                        <dt><a name="MembershipTransfers">Can I transfer my Builders Club membership to a different ROBLOX account?</a></dt>
                        <dd>
                            <p>Unfortunately, we are not able to offer this service at this time.</p>
                        </dd>
                        <dt><a name="TOSViolations">What is the ROBLOX policy regarding terms of service violations?</a></dt>
                        <dd>
                            <p>The ROBLOX Team is committed to keeping the ROBLOX community safe for kids of all ages.  Builders Club members who violate our terms of service may have their accounts suspended for a period of time or deleted at our discretion.  There will be no refunds on suspended or deleted accounts.</p>
                            <p>Parents are encouraged to help their children understand that our standards for behavior online are similar to those that might be upheld at an elementary school playground.</p>
                        </dd>
                        <dt><a name="MembershipCancellation">How do I cancel my membership?</a></dt>
                        <dd>
                            <p>Cancellations only apply to monthly Builders Club subscriptions that were paid via credit card.  Canceling is easy — simply click the <a id="ctl00_cphRoblox_HyperLink1" href="/Upgrades/Cancel.aspx">Cancel Membership</a> button that appears on the Builders Club page and confirm the cancellation.  If you cancel a recurring subscription, you will continue to receive Builders Club privileges for the remainder of the currently paid month.</p>
                        </dd>
                    </dl>
                </div>

            </div>

            <%- include('../partials/footer') -%>
    </form>
</body>

</html>