
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include('../partials/head') %>

<body>
    <form name="aspnetForm" method="post" action="Default.aspx" id="aspnetForm">

        <div id="Container">

            <%- include('../partials/header') -%>
            
            
            <div id="Body">


                <div class="ParentsContainer">
                    <a name="top"></a>
                    <div id="BreadcrumbsContainer">
                        <a id="ctl00_cphRoblox_BreadcrumbsHyperLink" href="/Parents.aspx">ROBLOX Parents</a> &gt; What Parents are Saying
                    </div>
                    <a id="ctl00_cphRoblox_PageImage" class="PageImage" onclick="javascript:__doPostBack('ctl00$cphRoblox$PageImage','')" style="display:inline-block;cursor:pointer;"><img src="/images/Parents/WhatParentsAreSaying.png"></a>
                    <h2>What Parents (and kids) are Saying</h2>
                    <div class="Navigation">
                        <ul>
                            <li><a href="#Parents">Parents</a></li>
                            <li><a href="#Kids">Kids</a></li>
                        </ul>
                    </div>
                    <div class="ContentSection">
                        <p>We are in the process of collecting testimonials for this section.  If you have feedback on ROBLOX, please send your comments to <a href="mailto:info@roblox.com">info@roblox.com</a>.  The following are all 100% real testimonials:</p>
                    </div>
                    <h3><a href="#Parents">Parents</a></h3>
                    <blockquote>
                        <p>
                            <strong>Jeffrey</strong><br>
                            "Hi, I just wanted to tell you how much I appreciate Roblox. My son who is 12 uses your service all the time. One of the movie competitions motivates him to sit down and learn new software to develop new movie scenes. I watched him a couple days ago, working hard on powerpoint, windows movie maker and other software, trying to make his Roblox movie. He didn't know how to use any of this software and learned it on his own through his motivation from Roblox. It's kind of neat how simple things like having a special 'hat' for his character is so gratifying to him. He joined the Roblox Builders Club a few days ago. He was willing to give up $5 a month from his allowance per month to pay for it (we are paying for it, but appreciated his devotion). Anyway, I appreciate your service and also how safe it is for kids. I am enjoying seeing him thrive from the competition and creativity you challenge your users with. Best of luck with Roblox." 
                        </p>
                        <p>
                            <strong>Sam — CA</strong><br>
                            "My 11 year old son has been involved with Roblox for 9 months now. Since he began he has learned much about scripting, and other computer related tasks....Your website has helped him with his self-esteem and social development as well. The whole time he has been thoroughly entertained by Roblox. His dream is to someday make video games, and i am certain that the time he spends participating in the Roblox community will help him achieve that goal."
                        </p>
                        <p>
                            <strong>Dan — FL</strong><br>
                            "I am a parent of two boys (11 and 12) who absolutely love ROBLOX.  As a Software Engineer myself, I am interested in getting my boys more involved in engineering in general, ROBLOX has been a big help."
                        </p>
                        <p>
                            <strong>Scott</strong><br>
                            "My son loves your site even more than the Wii he got for Xmas. Further, he has turned on at least 4 of his friends who are now members and he gave up his membership in Club Penguin to join your site. We have to pry him away from the puter on a daily basis. Not sure whether to thank you or not........lol"
                        </p>
                        <p>
                            <strong>Stacy</strong><br>
                            "I think [we] will join!  This online game is fantastic.  I was hoping my son’s gaming would lead to programming, and he is now learning Object Oriented scripting.  Fantastic!!  And he’s 11.  This game grows with the child, that is for sure."
                        </p>
                        <p>
                            <strong>Susan — CA</strong><br>
                             "My son only wants two things for Christmas, and one is a membership to Builders Club.  He's hoping Santa will bring it!"
                        </p>
                        <p>
                            <strong>Koh and Cecile — Phillipines</strong><br>
                             "Yosh started writing a novel more than a year ago. Now in Grade 4, he is fascinated with the Internet; [We think] he is the first Filipino to join the Roblox role-playing gaming site."
                        </p>
                        <p>
                            <strong>GM</strong><br>
                             "I think most kids who use ROBLOX are creative and bright.  My child loves your site.  If my child wasn't such a good student I would lock the site, but because we have an exceptional student, this is the reward!!!!  Truly just loves it!!"
                        </p>
                        <p>
                            <strong>Penny — United Kingdom</strong><br>
                            "Having paid out for quite a few destruction/build/animate games in the past which my Grandson has played for maybe a few days then tired of, it is amazing that ROBLOX seems for months now to have met his needs.  His mom is now getting him Builders Club!"
                        </p>
                        <p>
                            <strong>Rick — South Carolina</strong><br>
                            "My son loves ROBLOX."
                        </p>
                        <p>
                            <strong>Tracy — San Francisco</strong><br>
                            "Our PC died, so our son has been off of ROBLOX for a couple of weeks — and clearly was not happy about it.  Finally he was able to log on and was quite gleeful in trying out all the new ROBLOX adventures..."
                        </p>
                        <p>
                            <strong>Paulette</strong><br>
                            "My son has been playing on Roblox for over a month and really does enjoy the site."
                        </p>
                        <p>
                            <strong>Jan</strong><br>
                            "Some families have more than one child interested in robots, legos, and computers.  There are 2 here, ... on 2 computers in 1 home."
                        </p>
                    </blockquote>
                    <h3><a href="#Kids">Kids</a></h3>
                    <blockquote>
                        <p>
                            <strong>K</strong><br>
                            "I wanted to comment as a teenager, that ROBLOX is the best online game I have ever played in my life! It's even better then some of my playstation 3 games XD. Although I still have alot to learn, my lua scripting abilities are starting to expand into vast regions, I've never known about. It's an awesome experience that even my parents are 'jaw dropping' about! They find it amazing that I can do LUA Programming!"
                        </p>
                        <p>
                            <strong>Zzt</strong><br>
                            "I absolutely love ROBLOX and I play many MANY games, for instance, WoW (World of Warcraft), Runescape, AdventureQuest, etc. and this is my favorite out of all! Thank you for making this site I've been playing for about two years on another account and I love the game, once again, thank you for making this game. d-^_^-b"    
                        </p>    
                        <p>
                            <strong>ButterT</strong><br>
                            "Oh my gosh, this is the best online game EVER!!! I can't get enough of it"
                        </p>
                        <p>
                            <strong>Patrick</strong><br>
                            "i love your game soooooo much.....but 1 thing.......how do you spread the awsomenes?????? btw(by the way) i am only  8 and i love your game"
                        </p>
                        <p>
                            <strong>Peter — California</strong><br>
                            "ROBLOX has helped me in many ways...how to problem solve on my own...ROBLOX is great for younger kids, with its great team of administrators, while still bring great for teens who are looking for a catalyst into the world of 3D game design...Be it "Bloxing" another user with a weapon of your own design or showing off your very one creation to your friends online ... I promise ROBLOX will be fun and enjoyable."
                        </p>
                        <p>
                            <strong>Ryan</strong><br>
                            "I am a kid who just loves ROBlox. I strted a few days ago and i already love it. When i saw what other people built, i wanted to build my own.  Since my mom saw the kid safe thing on the page she let me download roblox. (Heh, my mom RARLEY lets me download stuff.) I love it!"
                           </p>
                        <p>
                            <strong>Brigitte</strong><br>
                            "I think the builder's club is awesome! You get so much more to do an I can now buy alot more stuff! I love it. And, like Scott's son, I quit my membership on Club Penguin to do this!"
                        </p>
                        <p>
                            <strong>Jak</strong><br>
                            "The graphics are awsome but now i need to find a way to take a bit of a break ,lol :)"
                        </p>
                        <p>
                            <strong>LuigiMario1234</strong><br>
                            "ROBLOX is keeping a large friendship together. One of my cherished friends I know in real life is moving a few states away....I showed him a game of friendship, chatting, creativity, and bloxxyness....We are planing on PMing each other everyday...." 
                        </p>
                        <p>
                            <strong>JPD</strong><br>
                            "Hi I love this game! im learning lua and scrpting! AND it so fun! This is the best online-game n the history of the world!"
                        </p>
                        <p>
                            <strong>Dakota72421</strong><br>
                            "I Love ROBLOX Best Game Made! Im Putting Ads Up, On Youtube!"
                        </p>
                        <p>
                            <strong>Lazlo319</strong><br>
                            "I seriously got hooked on such a good game! Well done!!! Awesome everything!! I MUST invite EVERYONE to this amazing game!"
                        </p>
                        <p>
                            <strong>Andrew</strong><br>
                            "I think that ROBLOX is the single best online game invented."
                        </p>
                        <p>
                            <strong>ArisShah</strong><br>
                            "this website rules! I'm glad you made it!"
                        </p>
                        <p>
                            <strong>lekontar</strong><br>
                            "man I left roblox for 2 days and when I came back WOW its a big change with the graphics!!! out of all my reviews I give this game a 9 out of 10 and my favorite online game!! plus I posted posters and fliers at my school and about 8 people joined so far!"
                        </p>
                        <p>
                            <strong>Caleb</strong><br>
                            "Roblox is the only game I play on the computer. Also thanks to scripting I found out how to script on computers! Have fun newbies!"
                        </p>
                        <p>
                            <strong>HMac</strong><br>
                            "Roblox is the best game ever. I found out about it on You Tube.  The best thing about roblox is you can blow up things as much as you want, and not have to clean up a huge mess!"
                        </p>
                        <p>
                            <strong>Joey</strong><br>
                            "Hey all! I just wanted to tell you how Roblox is so amazing! Not only can you have fun on Roblox, you can learn a lot also! I have an account on here, the names Hangcat. I suggest Roblox to any kid that loves to have fun,and loves to interact with others!"
                        </p>
                        <p>
                            <strong>Brian — Illinois</strong><br>
                            "Being 14 and starting high school, ROBLOX doesnt sound like a game that other kids my age play. But when I get hands on experiance with how to build giant towers and bridges in a simple game, it pays off. Roblox is fun, and educational (But you dont even notice. Go figure!)."
                        </p>
                        <p>
                            <strong>Steven — America</strong><br>
                            "This game is really cool my account name is ROBLOXCOP. My friend got me hooked on this."
                        </p>
                        <p>
                            <strong>EVILdemon1123</strong><br>
                            "Just giving feedback about the graphics driver, and I must say, it's stunning ... the objects are just beautiful."
                        </p>
                        <p>
                            <strong>John</strong><br>
                            "Fantastic.  Really, really great!"
                        </p>
                        <p>
                            <strong>Karl</strong><br>
                            "Hey! My name is Karl and I love to chat! I am 12 but my mom is very protective. She does not trust any chatting site except one that has a word filter."<br>
                            <em>(ROBLOX has several options for filtering chat — please see our section on <a id="ctl00_cphRoblox_KeepingKidsSafeHyperLink" href="KeepingKidsSafe.aspx">Safety and Privacy</a>.)</em>
                        </p>
                        <p>
                            <strong>Mike</strong><br>
                            "Great game guys. My friend got me hooked!!"
                        </p>
                    </blockquote>
                </div>

            </div>

            <%- include('../partials/footer') -%>
    </form>
</body>

</html>