<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css"
        href="/forum.css">
        
    

        <div id="Container">

            <%- include(partials + '/header') -%>



            <div id="Body">
                <table width="100%" cellspacing="0" cellpadding="0" >
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr >
                            <td>
                                <table width="100%" height="100%" cellspacing="0" cellpadding="0" >
                                    <tbody>
                                        <tr >
                                            <!-- left column -->
                                            <td>&nbsp; &nbsp; &nbsp;</td>
                                            <!-- center column -->
                                            <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                                <br>
                                                <span id="ctl00_cphRoblox_Navigationmenu1">
                                                    <table width="100%" cellspacing="1" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td  >
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_HomeMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_home.gif"
                                                                            >Home &nbsp;</a>
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_SearchMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/Search/default.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_search.gif"
                                                                            >Search &nbsp;</a>
            
            
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_RegisterMenu"
                                                                        class="menuTextLink"
                                                                        href="/Forum/User/CreateUser.aspx"><img
                                                                            src="/Forum/skins/default/images/icon_mini_register.gif"
                                                                            >Register &nbsp;</a>
            
            
            
            
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                                <span id="ctl00_cphRoblox_Whereami1">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td   width="1px">
                                                                    <nobr>
            
                                                                    </nobr>
                                                                </td>
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_ForumGroupMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
                                                                        <a id="ctl00_cphRoblox_Whereami1_ctl00_LinkForumGroup"
                                                                            class="linkMenuSink"
                                                                            href="/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                            Center</a>
                                                                    </nobr>
                                                                </td>
            
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_ForumMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
            
                                                                    </nobr>
                                                                </td>
            
                                                                <td id="ctl00_cphRoblox_Whereami1_ctl00_PostMenu"
                                                                    class="popupMenuSink"   width="1px">
                                                                    <nobr>
            
            
                                                                    </nobr>
                                                                </td>
            
                                                                <td   width="*">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
            
                                                    <span id="ctl00_cphRoblox_Whereami1_ctl00_MenuScript"></span>
                                                </span>
                                                <p>
                                                </p>
                                                <table cellpadding="2" cellspacing="1"  width="100%" class="tableBorder">
                                                    <tbody>
                                                        <tr>
                                                            <th class="tableHeaderText" colspan="2" height="20">Forum</th>
                                                            <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                                &nbsp;&nbsp;Threads&nbsp;&nbsp;</th>
                                                            <th class="tableHeaderText" width="50" nowrap="nowrap">
                                                                &nbsp;&nbsp;Posts&nbsp;&nbsp;</th>
                                                            <th class="tableHeaderText" width="135" nowrap="nowrap">&nbsp;Last
                                                                Post&nbsp;</th>
                                                        </tr>
                                                        <tr id="ctl00_cphRoblox_Forumgrouprepeater1_ctl01_ForumGroup">
                                                            <td class="forumHeaderBackgroundAlternate" colspan="5" height="20"><a
                                                                    id="ctl00_cphRoblox_Forumgrouprepeater1_ctl01_GroupTitle"
                                                                    class="forumTitle"
                                                                    href="/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                    Center</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forumRow"   width="34"
                                                                nowrap="nowrap"><img
                                                                    src="/Forum/skins/default/images/forum_status.gif"
                                                                    width="34" ></td>
                                                            <td class="forumRow" width="80%"><a class="forumTitle"
                                                                    href="/Forum/ShowForum.aspx?ForumID=28">ROBLOX
                                                                    Testing</a><span class="normalTextSmall"><br>This is the place
                                                                    to talk about the exciting stuff going on with the ROBLOX Test
                                                                    servers. Official news about testing will be posted here. All
                                                                    topics about the Test servers belong in this forum. [Note: Test
                                                                    servers will not be up all the time. Up times will be
                                                                    announced.]</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">826</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">4,074</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller"><span><b>Today @ 07:04
                                                                            PM</b></span></span><br><span
                                                                    class="normalTextSmaller">by <a
                                                                        href="/Forum/User/UserProfile.aspx?UserName=Brick508">Brick508</a><a
                                                                        href="/Forum/ShowPost.aspx?PostID=2554707#2554846"><img
                                                                            
                                                                            src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forumRow"   width="34"
                                                                nowrap="nowrap"><img
                                                                    src="/Forum/skins/default/images/forum_status.gif"
                                                                    width="34" ></td>
                                                            <td class="forumRow" width="80%"><a class="forumTitle"
                                                                    href="/Forum/ShowForum.aspx?ForumID=19">Building
                                                                    Help</a><span class="normalTextSmall"><br>Learn the ins and outs
                                                                    of building structures in ROBLOX here! Share your techniques
                                                                    with other builders, discuss designs, and draft plans.</span>
                                                            </td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">14,800</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">65,289</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller"><span><b>Today @ 08:44
                                                                            PM</b></span></span><br><span
                                                                    class="normalTextSmaller">by <a
                                                                        href="/Forum/User/UserProfile.aspx?UserName=Giokai">Giokai</a><a
                                                                        href="/Forum/ShowPost.aspx?PostID=2556749#2556849"><img
                                                                            
                                                                            src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forumRow"   width="34"
                                                                nowrap="nowrap"><img
                                                                    src="/Forum/skins/default/images/forum_status.gif"
                                                                    width="34" ></td>
                                                            <td class="forumRow" width="80%"><a class="forumTitle"
                                                                    href="/Forum/ShowForum.aspx?ForumID=20">Scripting
                                                                    Help</a><span class="normalTextSmall"><br>Need help with a
                                                                    script you are writing? Need to edit an existing script? Want to
                                                                    share your devious programming skills? For advanced ROBLOX
                                                                    users.</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">20,640</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">113,267</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller"><span><b>Today @ 08:48
                                                                            PM</b></span></span><br><span
                                                                    class="normalTextSmaller">by <a
                                                                        href="/Forum/User/UserProfile.aspx?UserName=scapenerd77">scapenerd77</a><a
                                                                        href="/Forum/ShowPost.aspx?PostID=224688#2556984"><img
                                                                            
                                                                            src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="forumRow"   width="34"
                                                                nowrap="nowrap"><img
                                                                    src="/Forum/skins/default/images/forum_status.gif"
                                                                    width="34" ></td>
                                                            <td class="forumRow" width="80%"><a class="forumTitle"
                                                                    href="/Forum/ShowForum.aspx?ForumID=14">Technical
                                                                    Problems and Bug Reports</a><span
                                                                    class="normalTextSmall"><br>Are you having trouble installing or
                                                                    upgrading ROBLOX? Account troubles? Website problems? Have you
                                                                    found a bug? Post here!</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">13,758</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller">52,570</span></td>
                                                            <td class="forumRowHighlight" ><span
                                                                    class="normalTextSmaller"><span><b>Today @ 08:49
                                                                            PM</b></span></span><br><span
                                                                    class="normalTextSmaller">by <a
                                                                        href="/Forum/User/UserProfile.aspx?UserName=Masterblok">Masterblok</a><a
                                                                        href="/Forum/ShowPost.aspx?PostID=2552793#2556998"><img
                                                                            
                                                                            src="/Forum/skins/default/images/icon_mini_topic.gif"></a></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>
                                                    <span id="ctl00_cphRoblox_Whereami2">
                                                    </span></p>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td   width="1px">
                                                                <nobr>
                                                                    <a id="ctl00_cphRoblox_Whereami2_ctl00_LinkHome"
                                                                        class="linkMenuSink"
                                                                        href="/Forum/Default.aspx">ROBLOX
                                                                        Forum</a>
                                                                </nobr>
                                                            </td>
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_ForumGroupMenu"
                                                                class="popupMenuSink"   width="1px">
                                                                <nobr>
                                                                    <span id="ctl00_cphRoblox_Whereami2_ctl00_ForumGroupSeparator"
                                                                        class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                    <a id="ctl00_cphRoblox_Whereami2_ctl00_LinkForumGroup"
                                                                        class="linkMenuSink"
                                                                        href="/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                        Center</a>
                                                                </nobr>
                                                            </td>
            
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_ForumMenu" class="popupMenuSink"
                                                                  width="1px">
                                                                <nobr>
            
            
                                                                </nobr>
                                                            </td>
            
                                                            <td id="ctl00_cphRoblox_Whereami2_ctl00_PostMenu" class="popupMenuSink"
                                                                  width="1px">
                                                                <nobr>
            
            
                                                                </nobr>
                                                            </td>
            
                                                            <td   width="*">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
            
                                                <span id="ctl00_cphRoblox_Whereami2_ctl00_MenuScript"></span>
                                                <p></p>
                                            </td>
            
                                            <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                            <!-- right margin -->
                                            <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>
            
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </div>

            <%- include(partials + '/footer') -%>
</body>

</html>

