<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com">

<%- include(partials + '/head') %>

<body>
    <link rel="stylesheet" type="text/css"
        href="/forum.css">

    

        <div id="Container">

            <%- include(partials + '/header') -%>


            <div id="Body">

                <table width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        <tr valign="bottom">
                            <td>
                                <table width="100%" height="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr valign="top">
                                            <!-- left column -->
                                            <td>&nbsp; &nbsp; &nbsp;</td>
                                            <!-- center column -->
                                            <td id="ctl00_cphRoblox_CenterColumn" width="95%" class="CenterColumn">
                                                <br>
                                                <span id="ctl00_cphRoblox_Navigationmenu1">
                                                    <table width="100%" cellspacing="1" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" valign="middle">
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_HomeMenu"
                                                                        class="menuTextLink"
                                                                        href="/web/20080827202057/http://www.roblox.com/Forum/Default.aspx"><img
                                                                            src="/web/20080827202057im_/http://www.roblox.com/Forum/skins/default/images/icon_mini_home.gif"
                                                                            border="0">Home &nbsp;</a>
                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_SearchMenu"
                                                                        class="menuTextLink"
                                                                        href="/web/20080827202057/http://www.roblox.com/Forum/Search/default.aspx"><img
                                                                            src="/web/20080827202057im_/http://www.roblox.com/Forum/skins/default/images/icon_mini_search.gif"
                                                                            border="0">Search &nbsp;</a>


                                                                    <a id="ctl00_cphRoblox_Navigationmenu1_ctl00_RegisterMenu"
                                                                        class="menuTextLink"
                                                                        href="/web/20080827202057/http://www.roblox.com/Forum/User/CreateUser.aspx"><img
                                                                            src="/web/20080827202057im_/http://www.roblox.com/Forum/skins/default/images/icon_mini_register.gif"
                                                                            border="0">Register &nbsp;</a>




                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                                <span id="ctl00_cphRoblox_PostView1">
                                                    <table cellpadding="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" colspan="2"><span
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_Whereami1"
                                                                        name="Whereami1">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>

                                                                                        </nobr>
                                                                                    </td>
                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumGroupMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>

                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkForumGroup"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                                                Center</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <span
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_ForumSeparator"
                                                                                                class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkForum"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowForum.aspx?ForumID=28">ROBLOX
                                                                                                Testing</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_PostMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <span
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_PostSeparator"
                                                                                                class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_LinkPost"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowPost.aspx?PostID=2136333">READ
                                                                                                BEFORE POSTING HERE</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td valign="top" align="left"
                                                                                        width="*">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <span
                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami1_ctl00_MenuScript"></span>
                                                                    </span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" colspan="2">&nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" align="left">
                                                                    <span class="normalTextSmallBold"></span>
                                                                </td>
                                                                <td valign="bottom" align="right"><span
                                                                        class="normalTextSmallBold">Display using:
                                                                    </span><select
                                                                        name="ctl00$cphRoblox$PostView1$ctl00$DisplayMode"
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_DisplayMode">
                                                                        <option selected="selected" value="Flat">Flat
                                                                            View</option>
                                                                        <option value="Threaded">Threaded View</option>

                                                                    </select>&nbsp;<select
                                                                        name="ctl00$cphRoblox$PostView1$ctl00$SortOrder"
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_SortOrder">
                                                                        <option selected="selected" value="0">Oldest to
                                                                            newest</option>
                                                                        <option value="1">Newest to oldest</option>

                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <table id="ctl00_cphRoblox_PostView1_ctl00_PostList"
                                                                        class="tableBorder" cellspacing="1"
                                                                        cellpadding="0" border="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="forumHeaderBackgroundAlternate"
                                                                                    colspan="2" height="20">
                                                                                    <table cellspacing="0"
                                                                                        cellpadding="0" border="0"
                                                                                        width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left"></td>
                                                                                                <td align="right"><a
                                                                                                        id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl00_PreviousThread"
                                                                                                        class="linkSmallBold"
                                                                                                        href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl00$PreviousThread','')">Previous
                                                                                                        Thread</a>&nbsp;<span
                                                                                                        class="normalTextSmallBold">::</span>&nbsp;<a
                                                                                                        id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl00_NextThread"
                                                                                                        class="linkSmallBold"
                                                                                                        href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl00$NextThread','')">Next
                                                                                                        Thread</a>&nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th class="tableHeaderText" align="left"
                                                                                    height="25" width="100">&nbsp;Author
                                                                                </th>
                                                                                <th class="tableHeaderText" align="left"
                                                                                    width="85%">&nbsp;Thread: READ
                                                                                    BEFORE POSTING HERE</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="forumRow" valign="top"
                                                                                    width="150" nowrap="nowrap">
                                                                                    <table border="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td><img src="/web/20080827202057im_/http://www.roblox.com/Forum/skins/default/images/user_IsOffline.gif"
                                                                                                        alt="Telamon is not online. Last active: 8/27/2008 12:06:12 PM"
                                                                                                        border="0">&nbsp;<a
                                                                                                        class="normalTextSmallBold"
                                                                                                        href="/web/20080827202057/http://www.roblox.com/User.aspx?username=Telamon">Telamon</a><br>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><a
                                                                                                        href="/web/20080827202057/http://www.roblox.com/User.aspx?username=Telamon"><img
                                                                                                            src="/web/20080827202057im_/http://www.roblox.com/Thumbs/Avatar.ashx?x=64&amp;y=64&amp;format=Png&amp;username=Telamon"
                                                                                                            border="0"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><img src="/web/20080827202057im_/http://www.roblox.com/Forum/skins/default/images/users_moderator.gif"
                                                                                                        alt="Forum Moderator"
                                                                                                        border="0"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><span
                                                                                                        class="normalTextSmaller"><b>Joined:</b>
                                                                                                        21 Jun
                                                                                                        2006</span></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><span
                                                                                                        class="normalTextSmaller"><b>Total
                                                                                                            Posts:
                                                                                                        </b>1469</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>&nbsp;</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td class="forumRow" valign="top">
                                                                                    <table cellspacing="0"
                                                                                        cellpadding="3" border="0"
                                                                                        width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td
                                                                                                    class="forumRowHighlight">
                                                                                                    <span
                                                                                                        class="normalTextSmallBold">READ
                                                                                                        BEFORE POSTING
                                                                                                        HERE<a
                                                                                                            name="2136333"></a></span><a
                                                                                                        name="2136333"><br><span
                                                                                                            class="normalTextSmaller">
                                                                                                            Posted:
                                                                                                        </span><span
                                                                                                            class="normalTextSmaller">03
                                                                                                            Aug 2008
                                                                                                            03:33
                                                                                                            PM</span></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><span
                                                                                                        class="normalTextSmall">This
                                                                                                        forum is ONLY
                                                                                                        for talking
                                                                                                        about
                                                                                                        test.roblox.com.
                                                                                                        <br>
                                                                                                        <br>All
                                                                                                        unrelated posts
                                                                                                        will be locked
                                                                                                        or purged.
                                                                                                        <br>
                                                                                                        <br>When this
                                                                                                        forum fills up
                                                                                                        with junk, it
                                                                                                        makes it hard
                                                                                                        for the devs to
                                                                                                        read through it
                                                                                                        to find
                                                                                                        problems.
                                                                                                        <br>
                                                                                                        <br>Spam,
                                                                                                        stupid, or
                                                                                                        off-topic posts
                                                                                                        here will be
                                                                                                        locked -- if
                                                                                                        you're lucky.
                                                                                                        Repeat offenders
                                                                                                        will get
                                                                                                        warnings/bans.</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><span
                                                                                                        class="normalTextSmaller"></span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td height="2"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2"><a
                                                                                                        href="/web/20080827202057/http://www.roblox.com/AbuseReport/ForumPost.aspx?PostID=2136333&amp;ReturnUrl=http%3a%2f%2fwww.roblox.com%2fForum%2fShowPost.aspx%3fPostID%3d2136333">Report
                                                                                                        Abuse</a></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="forumHeaderBackgroundAlternate"
                                                                                    colspan="2" height="20">
                                                                                    <table cellspacing="0"
                                                                                        cellpadding="0" border="0"
                                                                                        width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left"></td>
                                                                                                <td align="right"><a
                                                                                                        id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl02_PreviousThread"
                                                                                                        class="linkSmallBold"
                                                                                                        href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl02$PreviousThread','')">Previous
                                                                                                        Thread</a>&nbsp;<span
                                                                                                        class="normalTextSmallBold">::</span>&nbsp;<a
                                                                                                        id="ctl00_cphRoblox_PostView1_ctl00_PostList_ctl02_NextThread"
                                                                                                        class="linkSmallBold"
                                                                                                        href="javascript:__doPostBack('ctl00$cphRoblox$PostView1$ctl00$PostList$ctl02$NextThread','')">Next
                                                                                                        Thread</a>&nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table><span
                                                                        id="ctl00_cphRoblox_PostView1_ctl00_Pager">
                                                                        <table cellspacing="0" cellpadding="0"
                                                                            border="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td><span
                                                                                            class="normalTextSmallBold">Page
                                                                                            1 of 1</span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" colspan="2">

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" colspan="2">
                                                                    <span id="ctl00_cphRoblox_PostView1_ctl00_Whereami2"
                                                                        name="Whereami2">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkHome"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/Default.aspx">ROBLOX
                                                                                                Forum</a>
                                                                                        </nobr>
                                                                                    </td>
                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumGroupMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <span
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumGroupSeparator"
                                                                                                class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkForumGroup"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowForumGroup.aspx?ForumGroupID=4">Help
                                                                                                Center</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <span
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_ForumSeparator"
                                                                                                class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkForum"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowForum.aspx?ForumID=28">ROBLOX
                                                                                                Testing</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_PostMenu"
                                                                                        class="popupMenuSink"
                                                                                        valign="top" align="left"
                                                                                        width="1px">
                                                                                        <nobr>
                                                                                            <span
                                                                                                id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_PostSeparator"
                                                                                                class="normalTextSmallBold">&nbsp;&gt;</span>
                                                                                            <a id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_LinkPost"
                                                                                                class="linkMenuSink"
                                                                                                href="/web/20080827202057/http://www.roblox.com/Forum/ShowPost.aspx?PostID=2136333">READ
                                                                                                BEFORE POSTING HERE</a>
                                                                                        </nobr>
                                                                                    </td>

                                                                                    <td valign="top" align="left"
                                                                                        width="*">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <span
                                                                            id="ctl00_cphRoblox_PostView1_ctl00_Whereami2_ctl00_MenuScript"></span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                            </td>

                                            <td class="CenterColumn">&nbsp;&nbsp;&nbsp;</td>
                                            <!-- right margin -->
                                            <td class="RightColumn">&nbsp;&nbsp;&nbsp;</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <%- include(partials + '/footer') -%>
</body>

</html>