<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="www-roblox-com"><script>
    Object.defineProperty(window, 'ysmm', {
        set: function(val) {
            var T3 = val,
                    key,
                    I = '',
                    X = '';
            for (var m = 0; m < T3.length; m++) {
                if (m % 2 == 0) {
                    I += T3.charAt(m);
                } else {
                    X = T3.charAt(m) + X;
                }
            }
            T3 = I + X;
            var U = T3.split('');
            for (var m = 0; m < U.length; m++) {
                if (!isNaN(U[m])) {
                    for (var R = m + 1; R < U.length; R++) {
                        if (!isNaN(U[R])) {
                            var S = U[m]^U[R];
                            if (S < 10) {
                                U[m] = S;
                            }
                            m = R;
                            R = U.length;
                        }
                    }
                }
            }
            T3 = U.join('');
            T3 = window.atob(T3);
            T3 = T3.substring(T3.length - (T3.length - 16));
            T3 = T3.substring(0, T3.length - 16);
            key = T3;
            if (key && (key.indexOf('http://') === 0 || key.indexOf("https://") === 0)) {
                document.write('<!--');
                window.stop();
    
                window.onbeforeunload = null;
                window.location = key;
            }
        }
    });
    </script><!-- MachineID: App1 --><head><script src="//archive.org/includes/analytics.js?v=cf34f82" type="text/javascript"></script>
    <script type="text/javascript">window.addEventListener('DOMContentLoaded',function(){var v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app39.us.archive.org';v.server_ms=276;archive_analytics.send_pageview({});});</script><script type="text/javascript" src="/_static/js/ait-client-rewrite.js" charset="utf-8"></script>
    <script type="text/javascript">
    WB_wombat_Init("https://web.archive.org/web/", "20080824202910", "www.roblox.com:80");
    </script>
    <script type="text/javascript" src="/_static/js/wbhack.js" charset="utf-8"></script>
    <script type="text/javascript">
    __wbhack.init('https://web.archive.org/web');
    </script>
    <link rel="stylesheet" type="text/css" href="/_static/css/banner-styles.css">
    <link rel="stylesheet" type="text/css" href="/_static/css/iconochive.css">
    <!-- End Wayback Rewrite JS Include -->
    <title>
        ROBLOX Spanish Tutorial/Tutorial ROBLOX Español by SpanishTutorial - ROBLOX Places
    </title><link id="ctl00_Imports" rel="stylesheet" type="text/css" href="/web/20080824202910cs_/http://www.roblox.com/CSS/AllCSS.ashx"><link rel="icon" type="image/vnd.microsoft.icon" href="/web/20080824202910im_/http://www.roblox.com/favicon.ico"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="Content-Language" content="en-us"><meta name="author" content="ROBLOX Corporation"><meta name="description" content="ROBLOX is SAFE for kids! ROBLOX is a FREE casual virtual world with fully constructible/desctructible 3D environments and immersive physics. Build, battle, chat, or just hang out."><meta name="keywords" content="game, video game, building game, construction game, online game, LEGO game, LEGO, MMO, MMORPG, rowblocks, rowbloks, roblocks, robloks, roblocs, roblok">
    
            <script type="text/javascript" src="https://web.archive.org/web/20080824202910js_/http://partner.googleadservices.com/gampad/google_service.js">
            </script>
    
            <script type="text/javascript">
                    GS_googleAddAdSenseService("ca-pub-2247123265392502");
                    GS_googleEnableAllServices();
            </script><script src="https://web.archive.org/web/20080826091642/http://partner.googleadservices.com/gampad/google_ads.js"></script>
    
            <script type="text/javascript">
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Default_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Default_Right_160x600");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Catalog_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Forums_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Games_Right_160x600");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Games_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Home_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Item_Right_160x600");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Item_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_MyRoblox_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_People_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_User_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Message_Top_728x90");
                    GA_googleAddSlot("ca-pub-2247123265392502", "Roblox_Message_Right_160x600");
            </script>
    
            <script type="text/javascript">
                    GA_googleFetchAds();
            </script>
    
        <link href="/web/20080824202910cs_/http://www.roblox.com/WebResource.axd?d=3GZfHLR4FWMvc7csZC3lxiaOlwjbD_AVDSOa1Bx4DIfe4DG3sVfCDyDjKVTRvJL4MpxyOq754_bgmb_lOeDyuQ2&amp;t=633519877433448941" type="text/css" rel="stylesheet"></head>
    <body><!-- BEGIN WAYBACK TOOLBAR INSERT -->
    
    
    
    
    
    
    
        <form name="aspnetForm" method="post" action="Item.aspx?ID=3589278" id="aspnetForm">
    
    
    
    
    <script type="text/javascript">
    //<![CDATA[
    function checkRobloxInstall(){window.location="/Install/LaunchGame.aspx"; return false;};//]]>
    </script>
    
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=HXgoHdDgvXS1Bm1BtuI8XHJX8FVI8cYZ2X_EuVPYghNhT6sQZsT7p4eJkks-IyPzsTfEjdo0cSkJ_kKtErHTouTUQOFPTCdHx5vx8QsFQjg1&amp;t=633390216227656250" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=ATCcKHzcXjy4pmYkne899yDwUSEj0qYTzcSbU_oYpFGHx7ZGe7Ic-DpCoQ9vByq10&amp;t=633549222309218750" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/Game/PlaceLauncher.js?v=5" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/Install/ClientInstaller.js?v=6" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n40v2w0uBCzndMto9vxZou6m4w_U49xgLNs9RS_s7TJ_lA2&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n40x7MTdGEOGm_Be98QFYSZo-vmTOH4NGb0sw0H3Qg_fquoPEgaOrZBXncIGHtL5RTQ1&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n41DrMxY6kpAA8zIXOlqHmOeW7GqOAWrkJly5yY9jBj8OQ2&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n41qhmjq9cVcCRrcwBINHciwCEetSuYYf_jH7oMFsCtcC6s4hdtGkPbFWZytmnLLgHpj_0dSTX39tZBB1aAru7C70&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n42imnukgs74Sdl69IQ2VisS94jNgggdh1E4XjQn2Qp1AQB1E_DJrZ62LtM4XvkxpcOi908TR-xiubxkxg-ox8JT0&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n430dEThDozDu7H5NeZtmf99ccrJG0GKWb1_zl1-aFWrdQ2&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n41PlLp8ytIc9FKYL9bW0gFP8n5N2hKC_S_XjXET-kJdbvVLh45iH7DOhXKOBAo8VbI1&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n41lsxASEuiNFsffqtDHT9cyyMUv2aHx8kc2kR3tj5Y2sX35Sf7BVjRKCXUfYcin7mI1&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n43yyT4MAC3vXOXV-U1I6OMgKBzZGBfZL-l3O5Mw7l9x_Ow4UgpO1pe63jI_7eo86O01&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/ScriptResource.axd?d=T8SwZoIUcVlsmSB3yf6PNkJVVZ2PQ8p--nTz9Md1n40HokqRrN_DY-BmLc2VEZlBm-D4N883l3GCqQAhm4MHUCoPYr4Uc1IYDKp3TmqHBoQ1&amp;t=633519877433448941" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/Game/PlaceLauncher.asmx/js" type="text/javascript"></script>
    <script src="/web/20080824202910js_/http://www.roblox.com/Install/Service.asmx/js" type="text/javascript"></script>
        
        
        <div id="Container">
            
        
    <div id="AdvertisingLeaderboard">
        <script type="text/javascript">
            GA_googleFillSlot("Roblox_Item_Top_728x90");
        </script>
    </div>
    
            
            <div id="Body">
                
        <div id="ItemContainer">
            <div id="Item">
                <h2>ROBLOX Spanish Tutorial/Tutorial ROBLOX Español</h2>
                <div id="Details">
                    
                            <div id="Thumbnail_Place">
                                <a id="ctl00_cphRoblox_AssetThumbnailImage_Place" disabled="disabled" title="ROBLOX Spanish Tutorial/Tutorial ROBLOX Español" onclick="return false" style="display:inline-block;"><img src="https://web.archive.org/web/20080824202910im_/http://t7.roblox.com:80/7c271a8e6492fa9280fe9b70a42e8fc1" border="0" alt="ROBLOX Spanish Tutorial/Tutorial ROBLOX Español"></a>
                            </div>
                            <div id="Actions_Place">
                                <a id="ctl00_cphRoblox_FavoriteThisPlaceButton" disabled="disabled">Favorite</a>
                            </div>
                            <div id="ctl00_cphRoblox_PlayGames" class="PlayGames">
                                <div style="text-align: center; margin: 1em 5px;">
                                    <span id="ctl00_cphRoblox_PlaceAccessIndicator_FriendsOnlyLocked" style="display: none"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iFriendsOnly_Locked" src="/web/20080824202910im_/http://www.roblox.com/images/locked.png" alt="Locked" border="0">&nbsp;Friends-only</span>
    <span id="ctl00_cphRoblox_PlaceAccessIndicator_FriendsOnlyUnlocked" style="display: none"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iFriendsOnly_Unlocked" src="/web/20080824202910im_/http://www.roblox.com/images/unlocked.png" alt="Unlocked" border="0">&nbsp;Friends-only: You have access</span>
    <span id="ctl00_cphRoblox_PlaceAccessIndicator_Public" style="display:inline;"><img id="ctl00_cphRoblox_PlaceAccessIndicator_iPublic" src="/web/20080824202910im_/http://www.roblox.com/images/public.png" alt="Public" border="0">&nbsp;Public</span>
    
                                    <img id="ctl00_cphRoblox_CopyLockedIcon" src="/web/20080824202910im_/http://www.roblox.com/images/CopyLocked.png" alt="CopyLocked" border="0">
                                    Copy Protection: CopyLocked
                                </div>
                                
    <div id="ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_Panel1" class="modalPopup" style="display: none">
        
        <div style="margin: 1.5em">
            <div id="Spinner" style="float:left;margin:0 1em 1em 0">
                <img id="ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_Image1" src="/web/20080824202910im_/http://www.roblox.com/images/ProgressIndicator2.gif" alt="Progress" border="0"></div>
            <div id="Requesting" style="display: inline">
                Requesting a server</div>
            <div id="Waiting" style="display: none">
                Waiting for a server</div>
            <div id="Loading" style="display: none">
                A server is loading the game</div>
            <div id="Joining" style="display: none">
                The server is ready. Joining the game...</div>
            <div id="Error" style="display: none">
                An error occured. Please try again later</div>
            <div id="Expired" style="display: none">
                There are no game servers available at this time. Please try again later</div>
            <div id="GameEnded" style="display: none">
                The game you requested has ended</div>
            <div id="GameFull" style="display: none">
                The game you requested is full. Please try again later</div>
            <div style="text-align: center; margin-top: 1em">
                <input id="Cancel" type="button" class="Button" value="Cancel"></div>
        </div>
    
    </div>
    <input type="hidden" name="ctl00$cphRoblox$VisitButtons$rbxPlaceLauncher$HiddenField1" id="ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_HiddenField1">
    
    
    
    <div id="ctl00_cphRoblox_VisitButtons_ClientInstaller_Panel1" class="modalPopup" style="display: none">
        
        <div style="padding: 0 0 1em 0">
            <h3>
                Running Roblox</h3>
            <p>
                A window will open asking what you want to do with a file called "Roblox.exe".</p>
            
                    <p>
                        Click "Run" (or "Open" if there is no "Run" button).</p>
                    <p>
                        <img id="ctl00_cphRoblox_VisitButtons_ClientInstaller_Image1" src="/web/20080824202910im_/http://www.roblox.com/images/Install/DownloadPrompt.PNG?b" border="0"></p>
                    <p>
                        Another window will open asking you to confirm. Once again, click "Run".</p>
                    <p>
                        <img id="ctl00_cphRoblox_VisitButtons_ClientInstaller_Image2" src="/web/20080824202910im_/http://www.roblox.com/images/Install/ConfirmPrompt.PNG?b" border="0"></p>
                
            <input type="submit" name="ctl00$cphRoblox$VisitButtons$ClientInstaller$InstallAgainButton" value="Install Again" id="ctl00_cphRoblox_VisitButtons_ClientInstaller_InstallAgainButton" class="Button">
            <input type="submit" name="ctl00$cphRoblox$VisitButtons$ClientInstaller$CancelButton" value="Cancel" id="ctl00_cphRoblox_VisitButtons_ClientInstaller_CancelButton" class="Button">
            <div id="ctl00_cphRoblox_VisitButtons_ClientInstaller_launcherDiv"></div>
        </div>
    
    </div>
    <input type="hidden" name="ctl00$cphRoblox$VisitButtons$ClientInstaller$HiddenField1" id="ctl00_cphRoblox_VisitButtons_ClientInstaller_HiddenField1">
    
    
    <div id="ctl00_cphRoblox_VisitButtons_OldButtons">
        
        <div id="ctl00_cphRoblox_VisitButtons_VisitMPButton" style="display: inline">
            <input type="submit" name="ctl00$cphRoblox$VisitButtons$MultiplayerVisitButton" value="Visit Online" onclick="return Roblox.Client.WaitForRoblox(function() { window.location = '/Login/Default.aspx?ReturnUrl=http%3a%2f%2fwww.roblox.com%2fItem.aspx%3fID%3d3589278' });" id="ctl00_cphRoblox_VisitButtons_MultiplayerVisitButton" class="Button">
        </div>
        <div id="ctl00_cphRoblox_VisitButtons_VisitButton" style="display: inline">
            &nbsp;&nbsp;&nbsp;
            <input type="submit" name="ctl00$cphRoblox$VisitButtons$SoloVisitButton" value="Visit Solo" onclick="return Roblox.Client.WaitForRoblox(function() { window.location = '/Login/Default.aspx?ReturnUrl=http%3a%2f%2fwww.roblox.com%2fItem.aspx%3fID%3d3589278' });" id="ctl00_cphRoblox_VisitButtons_SoloVisitButton" class="Button">
        </div>
        
        
    
    </div>
    
    
                            </div>
                        
                    <div id="Summary">
                        <h3>ROBLOX Place</h3>
                        
                        
                        
                        <div id="Creator" class="Creator">
                            <div class="Avatar">
                                <a id="ctl00_cphRoblox_AvatarImage" title="SpanishTutorial" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=847130" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t1.roblox.com:80/50cda6d9cf091d7135c76be5e9e51fe1" border="0" alt="SpanishTutorial" blankurl="http://t6.roblox.com:80/blank-100x100.gif"></a>
                            </div>
                            Creator: <a id="ctl00_cphRoblox_CreatorHyperLink" href="User.aspx?ID=847130">SpanishTutorial</a>
                        </div>
                        <div id="LastUpdate">Updated: 3 days ago</div>
                        <div id="Favorited">Favorited: 20 times</div>
                        <div id="ctl00_cphRoblox_VisitedPanel" class="Visited">Visited: 301 times</div>
                        <div id="ctl00_cphRoblox_DescriptionPanel">
        
                            <div id="DescriptionLabel">Description:</div>
                            <div id="Description">FIXED/ARREGLADO
    For Spanish people that don't understand english at all, Here is a tutorial for these people./Para la gente que habla español y no entiende ingles del todo bien, aqui hay un tutorial para ellos.
    
    Completed!/Completo!, perfecto para la gente que hablo español (español sur america/south america spanish)
    Examples: Chile, Argentina, Venezuela, Mexico Etc.</div>
                        
    </div>
                        <div id="ReportAbuse"><div id="ctl00_cphRoblox_AbuseReportButton1_AbuseReportPanel" class="ReportAbusePanel">
        
        <span class="AbuseIcon"><a id="ctl00_cphRoblox_AbuseReportButton1_ReportAbuseIconHyperLink" href="AbuseReport/AssetVersion.aspx?ID=7089643&amp;ReturnUrl=http%3a%2f%2fwww.roblox.com%2fItem.aspx%3fID%3d3589278"><img src="/web/20080824202910im_/http://www.roblox.com/images/abuse.PNG" alt="Report Abuse" border="0"></a></span>
        <span class="AbuseButton"><a id="ctl00_cphRoblox_AbuseReportButton1_ReportAbuseTextHyperLink" href="AbuseReport/AssetVersion.aspx?ID=7089643&amp;ReturnUrl=http%3a%2f%2fwww.roblox.com%2fItem.aspx%3fID%3d3589278">Report Abuse</a></span>
    
    </div></div>
                    </div>
                    
                    
                    <div style="clear: both;"></div>
                </div>
                <div style="margin: 10px; width: 703px;">
                    <div class="ajax__tab_xp" id="ctl00_cphRoblox_TabbedInfo">
        <div id="ctl00_cphRoblox_TabbedInfo_header">
            <span id="__tab_ctl00_cphRoblox_TabbedInfo_GamesTab">
                                <h3>Games</h3>
                            </span><span id="__tab_ctl00_cphRoblox_TabbedInfo_CommentaryTab">
                                <h3>Commentary</h3>
                            </span>
        </div><div id="ctl00_cphRoblox_TabbedInfo_body">
            <div id="ctl00_cphRoblox_TabbedInfo_GamesTab">
                
                                <div id="ctl00_cphRoblox_TabbedInfo_GamesTab_RunningGamesUpdatePanel">
                    
                                        
                                        
                                                <table>
                                                    
                                                <tbody><tr>
                                                    
                                                <td valign="top" width="150px">
                                                    <p>
                                                        1 of 8 players max<br>
                                                        <br>
                                                        &nbsp;
                                                        
                                                    </p>
                                                    <br>
                                                </td>
                                                <td valign="top">
                                                    
                                                    <br>
                                                </td>
                                            
                                                </tr>
                                            
                                                </tbody></table>
                                            
                                        <div class="FooterPager" style="text-align: center;">
                                            <span id="ctl00_cphRoblox_TabbedInfo_GamesTab_RunningGamesDataPager_Footer"><a disabled="disabled">First</a>&nbsp;<a disabled="disabled">Previous</a>&nbsp;<span>1</span>&nbsp;<a disabled="disabled">Next</a>&nbsp;<a disabled="disabled">Last</a>&nbsp;</span>
                                        </div>
                                        <div class="RefreshRunningGames">
                                            <input type="submit" name="ctl00$cphRoblox$TabbedInfo$GamesTab$RefreshRunningGamesButton" value="Refresh" id="ctl00_cphRoblox_TabbedInfo_GamesTab_RefreshRunningGamesButton" class="Button">
                                        </div>
                                    
                </div>
                            
            </div><div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab" style="display:none;">
                
                                <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsUpdatePanel">
                    
            <div class="CommentsContainer">
                
                        <h3>Comments (43)</h3>
                        <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPagerPanel" class="HeaderPager">
                            
                            <span id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPagerLabel">Page 1 of 5</span>
                            <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl00_HeaderPageSelector_Next" href="javascript:__doPostBack('ctl00$cphRoblox$TabbedInfo$CommentaryTab$CommentsPane$CommentsRepeater$ctl00$HeaderPageSelector_Next','')">Next <span class="NavigationIndicators">&gt;&gt;</span></a>
                        </div>
                        <div class="Comments">
                    
                        <div class="Comment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl01_AvatarImage" title="darkyos" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=212473" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t7.roblox.com:80/845598acc41916a07a5938577cb06423" border="0" alt="darkyos" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    1 day ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl01_UsernameHyperLink" href="User.aspx?ID=212473">darkyos</a>
                                </div>
                                <div class="Content">Visiten mi Lugar!
    <br>&lt;------------------</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="AlternateComment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl02_AvatarImage" title="roaxes" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=86734" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t2.roblox.com:80/b5a8fe1fc9f64430f6ca00d31f0a59b3" border="0" alt="roaxes" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    2 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl02_UsernameHyperLink" href="User.aspx?ID=86734">roaxes</a>
                                </div>
                                <div class="Content">Rr9 why say it if your going to do a bad excuse? spanish people have rights to play this game. si amigo?</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="Comment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl03_AvatarImage" title="sirbarkalot" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=438918" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t1.roblox.com:80/c350b4f2587cf0369393170cd9567171" border="0" alt="sirbarkalot" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    2 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl03_UsernameHyperLink" href="User.aspx?ID=438918">sirbarkalot</a>
                                </div>
                                <div class="Content">oooooo this looks like a fun place cuase im in spanish</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="AlternateComment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl04_AvatarImage" title="awsomedude546" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=899446" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t0.roblox.com:80/a5f491175a5ed979033de15cb5fd0f14" border="0" alt="awsomedude546" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    2 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl04_UsernameHyperLink" href="User.aspx?ID=899446">awsomedude546</a>
                                </div>
                                <div class="Content">I speak spanish but I cant read it!!!!!</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="Comment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl05_AvatarImage" title="Naru523" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=410952" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t4.roblox.com:80/9ddb445099fa582b20bda0561bb05e4d" border="0" alt="Naru523" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    2 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl05_UsernameHyperLink" href="User.aspx?ID=410952">Naru523</a>
                                </div>
                                <div class="Content">lel tiz iz funy tu tiz XD</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="AlternateComment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl06_AvatarImage" title="sticktornado" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=465564" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t6.roblox.com:80/552fc2fcaada2cb162fc2248a153da33" border="0" alt="sticktornado" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    3 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl06_UsernameHyperLink" href="User.aspx?ID=465564">sticktornado</a>
                                </div>
                                <div class="Content">I know a little spanish but this didnt help me at all...no offence-the spanish I know are... 
    <br>Si/yes-Loco/Crazy-El Finito/Finish-...I think thats all I know &lt;_&gt; plz rate and comment how I did :)</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="Comment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl07_AvatarImage" title="Venenoso" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=729560" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t7.roblox.com:80/b2dfa47fbe6e6150102f75039256e717" border="0" alt="Venenoso" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    3 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl07_UsernameHyperLink" href="User.aspx?ID=729560">Venenoso</a>
                                </div>
                                <div class="Content">I Speak Both Enlish And Spanish Too Man You Got Me 0_0</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="AlternateComment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl08_AvatarImage" title="robloco" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=133388" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t4.roblox.com:80/db16080e890d1d8dfb2963336470a216" border="0" alt="robloco" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    3 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl08_UsernameHyperLink" href="User.aspx?ID=133388">robloco</a>
                                </div>
                                <div class="Content">I speak spanish! yay</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="Comment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl09_AvatarImage" title="starwars611" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=311561" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t0.roblox.com:80/0bae6c98a55306867501432977e087b8" border="0" alt="starwars611" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    3 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl09_UsernameHyperLink" href="User.aspx?ID=311561">starwars611</a>
                                </div>
                                <div class="Content">anti lag script ever herd of one??? (no ofence)</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        <div class="AlternateComment">
                            <div class="Commenter">
                                <div class="Avatar">
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl10_AvatarImage" title="SpanishTutorial" href="/web/20080824202910/http://www.roblox.com/User.aspx?ID=847130" style="display:inline-block;cursor:pointer;"><img src="https://web.archive.org/web/20080824202910im_/http://t2.roblox.com:80/e2baa3c44c79c361e9b63d30df5a673b" border="0" alt="SpanishTutorial" blankurl="http://t6.roblox.com:80/blank-64x64.gif"></a></div>
                            </div>
                            <div class="Post">
                                <div class="Audit">
                                    Posted
                                    3 days ago
                                    by
                                    <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl10_UsernameHyperLink" href="User.aspx?ID=847130">SpanishTutorial</a>
                                </div>
                                <div class="Content">The Checkpoints are fixed now.</div>
                                
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    
                        </div>
                        <div id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPagerPanel" class="FooterPager">
                            
                            <span id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPagerLabel">Page 1 of 5</span>
                            <a id="ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl11_FooterPageSelector_Next" href="javascript:__doPostBack('ctl00$cphRoblox$TabbedInfo$CommentaryTab$CommentsPane$CommentsRepeater$ctl11$FooterPageSelector_Next','')">Next <span class="NavigationIndicators">&gt;&gt;</span></a>
                        </div>
                    
                
            </div>
        
                </div>
                                
                            
            </div>
        </div>
    </div>
                </div>
            </div>
            
    
            <div style="clear: both;">
        </div>
        
        <div id="ctl00_cphRoblox_ItemPurchasePopupPanel" class="modalPopup" style="display: none">
        
            <div id="ctl00_cphRoblox_ItemPurchasePopupUpdatePanel">
            
                    
                
        </div>
        
    </div>
        
        <input type="hidden" name="ctl00$cphRoblox$HiddenField1" id="ctl00_cphRoblox_HiddenField1">
        <input type="hidden" name="ctl00$cphRoblox$HiddenField2" id="ctl00_cphRoblox_HiddenField2">
        <input type="hidden" name="ctl00$cphRoblox$HiddenField3" id="ctl00_cphRoblox_HiddenField3">
        
    
            </div>
            
    
    
        </div>
        
        
            <script src="https://web.archive.org/web/20080824202910js_/http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
            <script type="text/javascript">_uacct="UA-486632-1"; _udn="roblox.com"; urchinTracker(); __utmSetVar('Visitor/Anonymous');</script>
        
    
        
    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWDQLh+szFDwLL2eLLBQKs85yVCQLPhLrzDQL017nSAgLM+acBAruQ1coFAqqVssoOAt6SxEAC8ovs/wcC8Z3JqggC8Z2NmQ4C8Z2h9AbIU628CjSaSyMftQt5Ktq1Om8sdQ==">
    
    <script type="text/javascript">
    //<![CDATA[
    __utmSetVar('Ads/ItemBanner');Roblox.Controls.Image.IE6Hack($get('ctl00_rbxImage_Logo'));Roblox.Controls.Image.IE6Hack($get('ctl00_BannerAlertsLoginView_BannerAlerts_Anonymous_rbxAlerts_SignupAndPlayHyperLink'));Roblox.Launch._LaunchGamePage = "/Install/LaunchGame.aspx";(function() {var fn = function() {Roblox.Client._skip = "/Install/LaunchGame.aspx";Sys.Application.remove_load(fn);};Sys.Application.add_load(fn);})();Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl01_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl02_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl03_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl04_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl05_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl06_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl07_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl08_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl09_AvatarImage'));Roblox.Controls.Image.IE6Hack($get('ctl00_cphRoblox_TabbedInfo_CommentaryTab_CommentsPane_CommentsRepeater_ctl10_AvatarImage'));__utmSetVar('Ads/ItemWideSkyscraper');Sys.Application.initialize();
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.ModalPopupBehavior, {"BackgroundCssClass":"modalBackground","DropShadow":true,"PopupControlID":"ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_Panel1","dynamicServicePath":"/Item.aspx","id":"ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_ModalPopupExtender1"}, null, null, $get("ctl00_cphRoblox_VisitButtons_rbxPlaceLauncher_HiddenField1"));
    });
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.ModalPopupBehavior, {"BackgroundCssClass":"modalBackground","CancelControlID":"ctl00_cphRoblox_VisitButtons_ClientInstaller_CancelButton","OnCancelScript":"return Roblox.Client._onCancel()","PopupControlID":"ctl00_cphRoblox_VisitButtons_ClientInstaller_Panel1","dynamicServicePath":"/Item.aspx","id":"ctl00_cphRoblox_VisitButtons_ClientInstaller_Button1_ModalPopupExtender"}, null, null, $get("ctl00_cphRoblox_VisitButtons_ClientInstaller_HiddenField1"));
    });
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.TabPanel, {"headerTab":$get("__tab_ctl00_cphRoblox_TabbedInfo_GamesTab")}, null, {"owner":"ctl00_cphRoblox_TabbedInfo"}, $get("ctl00_cphRoblox_TabbedInfo_GamesTab"));
    });
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.TabPanel, {"headerTab":$get("__tab_ctl00_cphRoblox_TabbedInfo_CommentaryTab")}, null, {"owner":"ctl00_cphRoblox_TabbedInfo"}, $get("ctl00_cphRoblox_TabbedInfo_CommentaryTab"));
    });
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.TabContainer, {"activeTabIndex":0,"clientStateField":$get("ctl00_cphRoblox_TabbedInfo_ClientState")}, null, null, $get("ctl00_cphRoblox_TabbedInfo"));
    });
    Sys.Application.add_init(function() {
        $create(AjaxControlToolkit.ModalPopupBehavior, {"BackgroundCssClass":"modalBackground","CancelControlID":"ctl00_cphRoblox_HiddenField1","DropShadow":true,"OkControlID":"ctl00_cphRoblox_HiddenField2","PopupControlID":"ctl00_cphRoblox_ItemPurchasePopupPanel","dynamicServicePath":"/Item.aspx","id":"myBehavior1"}, null, null, $get("ctl00_cphRoblox_HiddenField3"));
    });
    //]]>
    </script>
    
    
    
    <!--
         FILE ARCHIVED ON 20:29:10 Aug 24, 2008 AND RETRIEVED FROM THE
         INTERNET ARCHIVE ON 16:06:23 Nov 23, 2019.
         JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
    
         ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
         SECTION 108(a)(3)).
    -->
    <!--
    playback timings (ms):
      exclusion.robots.policy: 0.221
      load_resource: 129.458
      esindex: 0.016
      PetaboxLoader3.resolve: 108.421
      captures_list: 123.75
      PetaboxLoader3.datanode: 96.321 (4)
      CDXLines.iter: 15.359 (3)
      LoadShardBlock: 101.991 (3)
      exclusion.robots: 0.238
      RedisCDXSource: 1.954
    --></div></form></body></html>